@{
    ViewBag.Title = "About Owl";
}
<h2>@ViewBag.Title</h2>

<p>
    Organization is tough. There are tools out there.
    However, like me, I’m sure you found they’re either too simple or too expensive for a music festival management.
</p>

<p>
    You have tens, hundreds, or even thousands of participants with different schedules and requirements.
    Remember printing out second violin parts for the violas? Or serving hamburgers to the vegetarian group?
</p>

<p>
    Don’t worry, me too. That’s why I developed <i>Owl</i>.
</p>

<p>
    Owl balances complexity and accessibility for music festival companies by providing you exactly what you need and nothing of what you don’t.
</p>

<p>
    Why am I qualified to craft this beautiful tool for you?
</p>

<p>
    Because I’m a professional upright bass player turned software developer.
    I traveled the globe (by that I mean U.S.A. and Europe) assisting and working at music festivals.
    I’ve played in a few too.
</p>

<p>
    The pandemic put a damper on my music plans, so I learned software development because it looked like fun,
    allows me to solve cool problems, and people told me musicians tend to be good at it.
</p>

<p>
    Wondering if <i>Owl</i> is a good fit for your needs?
    Watch the video tutorial here and then email me at alexandrocazares@me.com for access to your FREE 30-Day Trial.
</p>

<p>
    Hoot. Hoot.
</p>

<p>
    <i>Alexandro Cazares</i>
    <br />
    Founder & CEO of Owl
</p>

<h3>Mission Statement</h3>

<p>
    Owl enables you to organize your summer music festival needs all in one place so that you can focus more on the artists.
</p>

