@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    123 Hoot Street<br />
    Indianapolis, IN 46220<br />
    Phone:
    317-OWL-HOOT
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Owl.com">Support@Owl.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Owl.com">Marketing@Owl.com</a>
</address>